# Local .terraform directories
**/.terraform/*
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*

# Crash log files
crash.log
crash.*.log

# Exclude sensitive tfvars files
*.tfvars
!terraform.tfvars.example

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
